@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --green: #b8dcce;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --orange: #ff5100;
}

.body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.modal-content h1 {
    color: #ff5100;
}


.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--orange);
    border-left: 10px solid var(--orange);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
    left: 0;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}

/* .navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--black1);
} */
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.75rem;
    color: var(--white);
}

.navigation ul li:hover .icon,
.navigation ul li.hovered .icon {
    color: var(--black1);
}

lord-icon {
    --lord-icon-primary: var(--white);
    --lord-icon-secondary: var(--white);
}

.navigation ul li:hover lord-icon,
.navigation ul li.hovered lord-icon {
    --lord-icon-primary: var(--black1);
    --lord-icon-secondary: var(--black1);
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    color: var(--white);
}

.navigation ul li:hover .title,
.navigation ul li.hovered .title {
    color: var(--black1);
}


/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
}

.DOWN {
    margin-bottom: 10vw;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 80px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 300px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

/* .Welcome h1{
    position: relative;
    font-size: 1.6em;  
    width: auto;     
} */

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black2);
}

.lord-icon-s{
    --lord-icon-primary:var(--black1);
    --lord-icon-secondary: var(--black1);
    position: absolute;
    top: -3px;
    left: 7px;
    font-size: 1.2em;
}

.lord-icon-b{
    --lord-icon-primary:var(--black1);
    --lord-icon-secondary: var(--black1);
    position: relative;
    
}

.welcome{
    position: absolute;
    top: 15px;
    left: 200px;
}

.user {
    position: relative;
    min-width: 50px;
    height: 50px;
    right: 1vw;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/* SCALING OPTOMIZATION */

@media (max-width: 3000px) {
    .navigation {
        position: fixed;
        width: 80px;
    }

    .navigation.active {
        position: fixed;
        width: 300px;
    }

    .main {
        left: 80px;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 2000px) {
    .navigation {
        position: fixed;
        width: 80px;
        left: 0;
    }

    .navigation.active {
        position: fixed;
        width: 300px;
        left: 0;
    }

    .main {
        left: 80px;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 768px) {
    .main {
        width: 100%;
        overflow-x: auto;
    }

    .cardBox {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .recentOrders {
        overflow-x: auto;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}