@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --green: #b8dcce;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --orange: #ff5100;
}

.body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.modal-content h1 {
    color: #ff5100;
}


.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--orange);
    border-left: 10px solid var(--orange);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
    left: 0;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}

/* .navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--black1);
} */
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.75rem;
    color: var(--white);
}

.navigation ul li:hover .icon,
.navigation ul li.hovered .icon {
    color: var(--black1);
}

lord-icon {
    --lord-icon-primary: var(--white);
    --lord-icon-secondary: var(--white);
}

.navigation ul li:hover lord-icon,
.navigation ul li.hovered lord-icon {
    --lord-icon-primary: var(--black1);
    --lord-icon-secondary: var(--black1);
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    color: var(--white);
}

.navigation ul li:hover .title,
.navigation ul li.hovered .title {
    color: var(--black1);
}


/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
}

.DOWN {
    margin-bottom: 10vw;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 80px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 300px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: fixed;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 99;
    background-color :rgba(255,255,255,0.05);
}

.search {
    position: relative;
    width: 350px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black2);
}

.lord-icon-s{
    --lord-icon-primary:var(--black1);
    --lord-icon-secondary: var(--black1);
    position: absolute;
    top: -3px;
    left: 7px;
    font-size: 1.2em;
}

.lord-icon-b{
    --lord-icon-primary:var(--black1);
    --lord-icon-secondary: var(--black1);
    position: relative;
    
}

.welcome{
    position: relative;
    margin-left: 60px;
    margin-bottom: 20px;
}

.user {
    position: relative;
    min-width: 50px;
    height: 50px;
    right: 1vw;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* AJOUTER button */

.dialog{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 20px;
}
.x {
    z-index: 2;
        filter: grayscale(1);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;
        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }
    
  /* ADD Form*/
  .selectcategory , .selectclass , .selectanné , .selectyear , .selectmatiere{
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
}
.form form .name-details {
    display: flex;
    justify-content: space-between;
}

  .form{
    padding: 25px 30px;
  }
  .form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
  }
  .form form{
    margin: 20px 0;
  }
  .form form .error-text{
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 10px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
  }
  .form form .name-details{
    display: flex;
  }
  .form .name-details .field:first-child{
    margin-right: 10px;
  }
  /* .form .name-details .field:last-child{
    margin-left: 10px;
  } */
  .form form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
  }
  .form form .field label{
    margin-bottom: 2px;
  }
  .form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .form form .field input{
    outline: none;
  }
  .form form .image input{
    font-size: 17px;
  }
  .form form .button input{
    height: 45px;
    border: none;
    color: #fff;
    font-size: 17px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
  }
  .form form .field i{
    position: absolute;
    right: 15px;
    top: 70%;
    color: #ccc;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .form form .field i.active::before{
    color: #333;
    content: "\f070";
  }
  .form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
  }
  .form .link a{
    color: #333;
  }
  .form .link a:hover{
    text-decoration: underline;
  }

/*main cours*/

.main-course{
    position: relative;
    margin-top:20px ;
    text-transform: capitalize;
  }
  .main-course h1{
    text-align: center;
    font-size: 6vh;
    color: var(--orange);
  }
  .course-box{
    margin-left:    10%;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
  }
  .course-box ul{
    list-style: none;
    display: flex;
  }
  .course-box ul li{
    margin: 10px;
    margin-left: 0;
    color: gray;
    cursor: pointer;
  }
  .course-box ul .active{
    color: #000;
    border-bottom: 1px solid #000;
  }
  .course-box .course{
    display: grid;
    grid-template-columns: repeat(2 ,2fr);
    align-items: center;
  }
  .box{
    width: 75%;
    padding: 10px;
    margin: 20px;
    margin-left: 0;
    border-radius: 10px;
    background: rgb(235, 233, 233);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
  .box:hover{
    scale: 1.05;
    background: var(--orange);
    color: var(--white);
  }
  .box h3{
    margin-top: 10px;
    margin-left: 10px;
  }
  .box p{
    max-width: 200px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .box button{
    font-size: 1.2rem;
    background: #000;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    margin-left: 1.5rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
  .box button:hover{
    background: var(--white);
    color: var(--black1);
    border: none;
  }
  .box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
  }

  /* Pop out */

  .popup,.popupp,.popuppp,.popupppp {
    display: none;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 1000;
}

.clos{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.clos:hover{
    border-bottom: 1px solid;
}

.clos{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.clos:hover{
    border-bottom: 1px solid;
}

#courseForm,#exerciceForm,#examForm,#postForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
}

#courseForm label,#exerciceForm label,#examForm label,#postForm label {
    margin-bottom: 10px;
}
#courseForm input,#exerciceForm input,#examForm input,#postForm input{
    height: 30px;
}
#courseForm .fill,#exerciceForm .fill,#examForm .fill,#postForm .fil{
    margin-left: 50px;
    width: 80%;
    border: none;
}

#courseForm input,#exerciceForm input,#examForm input,#postForm input,
#courseForm textarea,#exerciceForm textarea,#examForm textarea,#postForm textarea{
    padding: 8px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 5px;
    border:0.1px solid;
}
#courseForm .fil{
    border: none;
}

#courseForm textarea,#exerciceForm textarea,#examForm textarea,#postForm textarea{
    height: 80px;
}
#fileDropAreaCours,#fileDropAreaExercice,#fileDropAreaExam,#fileDropAreaPost {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#fileDropAreaCours:hover,
#fileDropAreaExercice:hover,
#fileDropAreaExam:hover,
#fileDropAreaPost:hover {
    background-color: #f0f0f0;
}

#fileDropAreaCours.active,
#fileDropAreaExercice.active,
#fileDropAreaExam.active,
#fileDropAreaPost.active {
    border-color: #2196F3;
    background-color: #f0f8ff;
}

/* .selectcategory{
    width: 30%;
    margin-bottom: 15px;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
} */

.ad{
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--black2);
    transition: 0.2s;
}
.ad:hover{
    background-color: var(--orange);
    color: white;
    scale: 1.05;
}
#popupTitle,#popuppTitle,#popupppTitle,#popuppppTitle{
    color: var(--orange);
    margin-bottom: 20px;
}

.overlay,.overlayy,.overlayyy,.overlayyyy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* SCALING OPTOMIZATION */

@media (max-width: 3000px) {
    .navigation {
        position: fixed;
        width: 80px;
    }

    .navigation.active {
        position: fixed;
        width: 300px;
    }

    .main {
        left: 80px;
    }

    .main.active {
        left: 300px;
    }
    
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 2000px) {
    .navigation {
        position: fixed;
        width: 80px;
        left: 0;
    }

    .navigation.active {
        position: fixed;
        width: 300px;
        left: 0;
    }

    .main {
        left: 80px;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 768px) {
    .main {
        width: 100%;
        overflow-x: auto;
    }


    .cardBox {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .recentOrders {
        overflow-x: auto;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}